# Dependencies
go/*

# Runtime
*.log
*.cmd
*.bat
*.png
*.zip
*.o
*.a
save/*
Ikemen_GO.exe
Ikemen_GO_Linux
Ikemen_GO_MacOS
Ikemen_GO_x86.exe
Ikemen_GO.command
ikemen_linux.aarch64
external/script/.idea/*

# Ikemen_GO-Elecbyte-Screenpack
ScreenpackLicense.txt
chars/*
data/big/*
data/common.snd
data/fight.def
data/fight.sff
data/fight.snd
data/fightfx.air
data/fightfx.sff
data/glyphs.sff
data/gofx*
data/kfm/*
data/mugen1/*
data/select.def
data/system.def
data/system.sff
data/system.snd
data/work/*
stages/*
sound/*
debug/*

# Temp
src/lua_triggers.go
src/assets.zip
external/script/wip/*

# IDE Files
.vscode/*
.vs/*
.idea/*

# Binaries
bin/*

# Compilation files
src/*.syso
!port/ikemen/screenshot.png
port/ikemen/sdlGamepadMapper
